<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Chat</title>
    <%- include('../partial/head')%>
</head>
<body>
    <div class="container h-100 d-flex">
        <% if (typeof error !== 'undefined') { %>
            <%= error%>
        <% } else { %>
            <div class="user-list">
                <a class="user" href="#">Nguoi dung 1</a>
            </div>
            <div class="chat-wrapper">
                <div class="chat-title"><%= title %></div>
                <div class="chat-container">
                </div>
                <div class="message-typing">
                    <form id="formsubmit" enctype="multipart/form-data">
                        <input hidden name="senderId" value="<%= user._id%>"/>
                        <div class="media-attach-area">
                            <input id="fileBrowse" type="file" onchange="readURL(this);" hidden name="photo" accept="image/gif, image/jpeg, image/png"/>
                            <div onclick="imageClick()" class="btn image-btn-attach"><i class="fas fa-image" style="color: #17a2b8;"></i></div>
                            <div id="filechosenname"></div>
                            <img id="blah" src="#" alt="your image" width="50" height="50"/>
                        </div>
                        <div class="input-group">
                            <input id="txtMessage" name="message" type="text" class="form-control" style="color: #0d47a1;" placeholder="Typing some text to send...">
                            <div class="input-group-append">
                                <button id="btnSend" class="btn btn-outline-primary" type="submit"><i class="fas fa-paper-plane"></i>&nbsp;Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
    <%- include('../partial/footer')%>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <script>
        //get id of private chat
        var privateId = window.location.pathname.substr(5).trim().replace('/', '');
        var imageEncoded = '';
        var attachType = '';
        $('#blah').hide();
        <% if (typeof user !== 'undefined') { %>
            let user = <%- user%>;
            let receiver = {};
            <% if (typeof receiverUser !== 'undefined') { %>
                receiver = <%- receiverUser%>;
            <% } %>
            // on click and enter
            function SendMessage () {
                let $message = $('#txtMessage');
                let obj = {
                    senderId: user._id,
                    senderDisplayName: user.displayName,
                    receiverId: receiver._id,
                    senderAttach: imageEncoded,
                    attachType: attachType,
                    message: $message.val()
                };
                socket.emit('new message', obj);
                // Reset the text input
                $message.val('');
                $('#blah').hide();
                imageEncoded = '';
                attachType = '';
            }
            // $('#btnSend').on('click', () => {
            //     console.log('call 2')
            //     SendMessage();
            // });
            // $('#txtMessage').on('keyup', e => {
            //     if (e.key === 'Enter') {
            //         SendMessage();
            //     }
            // });

            $('#formsubmit').on('submit', e => {
                SendMessage();
                e.preventDefault();
            });

            let $chatContainer = $('.chat-container');
            socket.on('new message', messageObj => {
                addMessage(user._id, messageObj, $chatContainer, privateId);
            });
            // send online list
            <% if (typeof onlineList !== 'undefined')  { %>
                let $userList = $('.user-list');
                let onlineList = [<%- onlineList%>];
                if (onlineList) {
                    socket.emit('user join', onlineList);
                    socket.on('user join', obj => {
                        drawUserList(obj, $userList, user._id);
                    })
                }
            <% } %>
        <% } %>
    </script>
    <script>
        //load old messages
        <% if (typeof oldMessages !== 'undefined' && typeof user !== 'undefined' && typeof receiverUser !== 'undefined') { %>
            let oldMessages = <%- oldMessages%>;
            // let $chatContainer = $('.chat-container');
            console.log(oldMessages);
            oldMessages.forEach(msg => {
                msg.senderDisplayName = user.displayName;
                addMessage(user._id, msg, $chatContainer, privateId);
            });
        <% } %>
    </script>
    <script>
        function imageClick() {
            $('#fileBrowse').trigger('click');
        }

        function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imageEncoded = e.target.result;
                attachType = input.files[0].type;
                let imgSource = 'data:'+ attachType + ';base64,' + _arrayBufferToBase64(imageEncoded);
                $('#blah')
                    .attr('src', imgSource)
                    .width(150)
                    .height(150)
                    .show();
            };
            reader.readAsArrayBuffer(input.files[0]);
        }
    }
    </script>
</body>
</html>